* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 375px;
  flex-direction: column;
  background-color: hsl(212, 45%, 89%);
}

section {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  padding: 16px;
  gap: 12px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(0, 0%, 100%);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 12px;
}

.attribution {
  margin: 16px;
  font-family: "Outfit", sans-serif;
}

.upper-text {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  padding: 12px;
}

.lower-text {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  padding: 0 12px 12px 12px;
}
